<script src="{{=URL('static','js/jquery.js')}}"></script>
<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
        <link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
<script src="{{=URL('static','js/amcharts.js')}}"></script>
<script src="{{=URL('static','js/export.min.js')}}"></script>
<script src="{{=URL('static','js/light.js')}}"></script>
<script src="{{=URL('static','js/serial.js')}}"></script>
<script src="{{=URL('static','js/pie.js')}}"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script src="{{=URL('static', 'js/load_charts.js')}}"></script>
<script>
    var get_chart_data_url = "{{=URL('api', 'get_chart_data')}}";
    var get_realtime_update_url = "{{=URL('api', 'get_realtime_update')}}";
    var get_canvas_data_url = "{{=URL('api', 'get_canvas_data')}}";
    var cancel_chart_data_url = "{{=URL('api', 'cancel_chart_data')}}";
    var get_tweets_info_url = "{{=URL('api', 'get_tweets_info')}}";
</script>

<body style="padding-top: 0px;">

<ul>
    <li>
        <a id="streaming_tweets" style="background-color: darkblue;">Streaming Tweets</a>
    </li>
    <li>
        <a id="keyword_network" style="background-color: lightslategrey;">Keyword Graph</a>
    </li>
</ul>
</br>
<div id="streaming_tweets_div" style="display: block;">
    <div class="col-md-2">
        <div class="form-group" style="width: 200px;">
            <label>Search by Name</label>
            <input id="search" type="text" class="col-sm-3 form-control" id="exampleInputEmail1" placeholder="Search by name.">
            <br>
        </div>
        <br>
        <div class="form-group" style="width: 200px;">
            <label>Type of analysis</label>
            <select class="form-control" id="type_of_analysis">
              <option>Device</option>
              <option>Hashtag</option>
            </select>
        </div>
        <div class="form-group" style="width: 200px;">
            <label>Number of tweet</label>
            <select class="form-control" id="number_of_tweet">
              <option>100</option>
              <option>200</option>
              <option>500</option>
              <option>1000</option>
            </select>
        </div>
        <div class="form-group" style="width: 200px;">
            <label>Number of column</label>
            <select class="form-control" id="number_of_item">
              <option>3</option>
              <option>5</option>
              <option>8</option>
              <option>10</option>
            </select>
        </div>
        </br>
        <button class="btn btn-primary" onclick="get_chart()">
            Get Chart
        </button>
        </br>
        <button id="btn_waiting" class="btn btn-danger" onclick="cancel_chart()" style="display: none">
            Cancel
        </button>
        </br>
        <button id="btn_completed" class="btn btn-success" style="display: none;">
            Completed
        </button>
    </div>

    <div class="col-md-10">
        <div id="chart" style="height:500px; width:100%"></div>
    </div>
</div>
<!-- Search Bar -->
<div id="keyword_search_div" style="display: none;">
    <div class="search-middle">
        <div class="form-group" style="width: 300px;">
            <label>Key Word</label>
            <input id="keyword_search_network" type="text" class="col-sm-3 form-control" id="exampleInputEmail1" placeholder="Search by name.">
            <br>
        </div>
        <br>
        <div class="form-group" style="width: 300px;">
            <label>Number of bubble</label>
            <select class="form-control" id="number_of_bubble">
              <option>No limit</option>
              <option>20</option>
              <option>30</option>
              <option>50</option>
            </select>
        </div>
        <div class="form-group" style="width: 300px;">
            <label>Number of bubble</label>
            <select class="form-control" id="frequency_of_bubble">
              <option>No limit</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
            </select>
        </div>
        </br>
        <button class="btn btn-primary" onclick="search_keyword()">
            Search
        </button>
    </div>
</div>
</div>
<div id="keyword_network_div" style="display: none;">
    <div id="return_to_search_btn" class="col-md-1">
        <button onclick="return_to_search()" class="btn btn-primary">
            <i class="fa fa-mail-reply"></i>&nbsp;Return
        </button>
    </div>
    <div id="d3_chart" class="col-md-11"></div>
    <div id="tweets" style="display: none;">
        <div class="col-md-1">
            <button id="return_to_canvas_btn" onclick="return_to_canvas()" class="btn btn-primary">
                Return
            </button>
        </div>
        <div class="col-md-11">
            <h1>sfsdffdfdf</h1>
            <h1>sfsdffdfdf</h1>
            <h1>sfsdffdfdf</h1>
            <h1>sfsdffdfdf</h1>
        </div>

    </div>
</div>
</body>
<script src="{{=URL('static','js/my-amcharts.js')}}"></script>
<script src="{{=URL('static','js/my-d3.js')}}"></script>
<script>

</script>
<script>

</script>
<script>

</script>






