<button onclick="get_data_device()">Device</button>
<button onclick="get_data_lang()">Language</button>
<div id="chart" style="height:500px; width:100%""></div>

{{include 'web2py_ajax.html'}}
<script src="{{=URL('static','js/amcharts.js')}}"></script>
<script src="{{=URL('static','js/export.min.js')}}"></script>
<script src="{{=URL('static','js/light.js')}}"></script>
<script src="{{=URL('static','js/serial.js')}}"></script>
<script src="{{=URL('static','js/pie.js')}}"></script>
<script>

    function get_data_device() {
        $.ajax({
            'url': 'get_chart_device',
            'type': 'post',
            'dataType': 'json',
            'success': function(data) {
                console.log(data);
                create_chart_device(data);
            }
        });
    }


    function create_chart_device(data) {
        var chart = AmCharts.makeChart( "chart", {
          "type": "serial",
          "theme": "light",
          "dataProvider": data,
          "valueAxes": [ {
            "gridColor": "#FFFFFF",
            "gridAlpha": 0.2,
            "dashLength": 0
          } ],
          "gridAboveGraphs": true,
          "startDuration": 1,
          "graphs": [ {
            "balloonText": "[[category]]: <b>[[value]]</b>",
            "fillAlphas": 0.8,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "tweets"
          } ],
          "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
          },
          "categoryField": "Device",
          "categoryAxis": {
            "gridPosition": "start",
            "gridAlpha": 0,
            "tickPosition": "start",
            "tickLength": 20
          },
          "export": {
            "enabled": false
          }

        } );
    }


    function get_data_lang() {
        $.ajax({
            'url': 'get_chart_lang',
            'type': 'post',
            'dataType': 'json',
            'success': function(data) {
                create_chart_lang(data);
            }
        });
    }

    function create_chart_lang(data) {
        var chart = AmCharts.makeChart( "chart", {
            "type": "pie",
            "theme": "light",
            "dataProvider": data,
            "valueField": "tweets",
            "titleField": "Language",
            "balloon":{
            "fixedPosition":true
            },
            "export": {
            "enabled": false
            }
        } );
    }

</script>






